-- Migration for expense enhancements
-- This migration adds additional features and indexes for better expense management

-- Add indexes for better query performance
CREATE INDEX IF NOT EXISTS idx_expenses_company_id ON public.expenses (company_id);
CREATE INDEX IF NOT EXISTS idx_expenses_employee_id ON public.expenses (employee_id);
CREATE INDEX IF NOT EXISTS idx_expenses_status ON public.expenses (status);
CREATE INDEX IF NOT EXISTS idx_expenses_date ON public.expenses (expense_date);
CREATE INDEX IF NOT EXISTS idx_expenses_category ON public.expenses (category);

-- Add indexes for approvals
CREATE INDEX IF NOT EXISTS idx_approvals_approver_id ON public.approvals (approver_id);
CREATE INDEX IF NOT EXISTS idx_approvals_status ON public.approvals (status);
CREATE INDEX IF NOT EXISTS idx_approvals_expense_id ON public.approvals (expense_id);

-- Add indexes for profiles
CREATE INDEX IF NOT EXISTS idx_profiles_company_id ON public.profiles (company_id);
CREATE INDEX IF NOT EXISTS idx_profiles_manager_id ON public.profiles (manager_id);

-- Add indexes for user roles
CREATE INDEX IF NOT EXISTS idx_user_roles_user_id ON public.user_roles (user_id);
CREATE INDEX IF NOT EXISTS idx_user_roles_role ON public.user_roles (role);

-- Add a function to calculate total expenses for a user
CREATE OR REPLACE FUNCTION public.get_user_total_expenses(user_id UUID)
RETURNS DECIMAL(10, 2)
LANGUAGE SQL
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT COALESCE(SUM(amount), 0)
  FROM public.expenses
  WHERE employee_id = user_id
$$;

-- Add a function to calculate total expenses for a company
CREATE OR REPLACE FUNCTION public.get_company_total_expenses(company_id UUID)
RETURNS DECIMAL(10, 2)
LANGUAGE SQL
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT COALESCE(SUM(amount), 0)
  FROM public.expenses
  WHERE company_id = company_id
$$;

-- Add a function to get pending approvals count for a manager
CREATE OR REPLACE FUNCTION public.get_manager_pending_approvals(manager_id UUID)
RETURNS INTEGER
LANGUAGE SQL
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT COUNT(*)
  FROM public.approvals
  WHERE approver_id = manager_id AND status = 'pending'
$$;

-- Add a view for expense statistics
CREATE OR REPLACE VIEW public.expense_statistics AS
SELECT 
  company_id,
  COUNT(*) as total_expenses,
  COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_expenses,
  COUNT(CASE WHEN status = 'approved' THEN 1 END) as approved_expenses,
  COUNT(CASE WHEN status = 'rejected' THEN 1 END) as rejected_expenses,
  SUM(amount) as total_amount,
  SUM(CASE WHEN status = 'pending' THEN amount ELSE 0 END) as pending_amount,
  SUM(CASE WHEN status = 'approved' THEN amount ELSE 0 END) as approved_amount,
  SUM(CASE WHEN status = 'rejected' THEN amount ELSE 0 END) as rejected_amount
FROM public.expenses
GROUP BY company_id;

-- Add a view for user expense summaries
CREATE OR REPLACE VIEW public.user_expense_summary AS
SELECT 
  employee_id,
  COUNT(*) as total_expenses,
  COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_expenses,
  COUNT(CASE WHEN status = 'approved' THEN 1 END) as approved_expenses,
  COUNT(CASE WHEN status = 'rejected' THEN 1 END) as rejected_expenses,
  SUM(amount) as total_amount,
  SUM(CASE WHEN status = 'pending' THEN amount ELSE 0 END) as pending_amount,
  SUM(CASE WHEN status = 'approved' THEN amount ELSE 0 END) as approved_amount,
  SUM(CASE WHEN status = 'rejected' THEN amount ELSE 0 END) as rejected_amount
FROM public.expenses
GROUP BY employee_id;

-- Add RLS policies for the new views
CREATE POLICY "Users can view their company expense statistics"
  ON public.expense_statistics FOR SELECT
  USING (company_id = public.get_user_company_id(auth.uid()));

CREATE POLICY "Users can view their own expense summary"
  ON public.user_expense_summary FOR SELECT
  USING (employee_id = auth.uid());

-- Enable RLS on the new views
ALTER VIEW public.expense_statistics OWNER TO authenticated;
ALTER VIEW public.user_expense_summary OWNER TO authenticated;